Repository kostua16/UNC_2020_MS_TLT, pull requests merged in 2021-03, with the labels that each got.

#96 feat: improve github-actions by merging them together
  .bettercodehub.yml
  .editorconfig
  .github/if_build_fails.js
  .github/if_build_success.js
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/auto_approve.yml
  .github/workflows/auto_merge.yml
  .github/workflows/auto_revert.yml
  .github/workflows/build.yml
  .github/workflows/checkstyle.yml
  .github/workflows/create_issue.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/manual.yml
  .github/workflows/maven.yml
  .github/workflows/maven_on_demand.yml
  .github/workflows/release-drafter.yml
  .github/workflows/secret_scan.yml
  .github/workflows/super_linter.yml
  .github/workflows/super_linter_on_demand.yml
  checkstyle.xml
  pom.xml
Labels: build_passed

#147 fix: update swagger and create github-pages from javadoc
  .editorconfig
  .github/workflows/pr_checks.yml
  .gitignore
  README.MD
  documentation/.gitkeep
  documentation/INDEX.MD
  pom.xml
  services/common/src/main/java/nc/unc/cs/services/common/services/Swagger.java
Labels: build, build_passed, ci, git, java, js

#150 docs: updated path for gh-pages
  .github/workflows/pr_checks.yml
Labels: ci, js

#161 docs: generate docs + docs for gibdd service (for friday's session with students)
  .github/labeler.yml
  .github/workflows/pr_checks.yml
  .gitignore
  .restyled.yaml
  checkstyle.xml
  documentation/index.md
  pom.xml
  services/bank/src/main/java/nc/unc/cs/services/bank/controllers/BankController.java
  services/common/pom.xml
  services/common/src/main/java/nc/unc/cs/services/common/clients/gibdd/CarDto.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/gibdd/GibddService.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/gibdd/package-info.java
  services/common/src/main/java/nc/unc/cs/services/common/services/ModelMapperConfiguration.java
  services/common/src/main/java/nc/unc/cs/services/common/services/Swagger.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/PropertyController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/PropertyTaxController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/PropertyTaxValueController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/UtilitiesPriceListController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/UtilityBillController.java
  services/gibdd/pom.xml
  services/gibdd/src/docs/asciidoc/gibdd.adoc
  services/gibdd/src/main/java/nc/unc/cs/services/gibdd/entities/Car.java
  services/gibdd/src/main/java/nc/unc/cs/services/gibdd/repositories/CarsRepo.java
  services/gibdd/src/main/java/nc/unc/cs/services/gibdd/services/GibddService.java
  services/gibdd/src/main/java/nc/unc/cs/services/gibdd/services/LogicOfGibddService.java
  services/gibdd/src/main/java/nc/unc/cs/services/gibdd/services/RestGibddService.java
  services/gibdd/src/test/java/nc/unc/cs/services/gibdd/repositories/Project2020GibddCarsRepoTest.java
  services/gibdd/src/test/java/nc/unc/cs/services/gibdd/services/GibddServiceTest.java
  services/gibdd/src/test/java/nc/unc/cs/services/gibdd/services/Project2020GibddRestServiceTest.java
  services/gibdd/src/test/resources/bootstrap.yml
  services/passport/pom.xml
  services/pom.xml
  services/repackage.skip
  services/src/docs/asciidoc/http_codes.adoc
  services/src/docs/asciidoc/http_verbs.adoc
  services/src/docs/asciidoc/index.adoc
  services/tax/src/main/java/nc/unc/cs/services/tax/controllers/TaxController.java
Labels: build, build_passed, ci, documentation, git, java, js, props

#168 docs: correct paths for gh-pages
  pom.xml
  services/gibdd/src/docs/asciidoc/gibdd.adoc
  services/src/docs/asciidoc/index.adoc
Labels: build, build_passed

#169 dependencies improvements
  .github/workflows/pr_checks.yml
  documentation/_config.yml
  pom.xml
Labels: build, build_passed, ci, props

#171 build: delobook-ing code to have javadocs for it
  pom.xml
Labels: build, build_passed

#172 build: move dependencies versions to maven properties + optimized plugins configuration
  .deepsource.toml
  .github/workflows/pr_checks.yml
  pom.xml
Labels: build, build_passed, ci

#196 Добавлен фронтенд модуль
  client-ui/.gitignore
  client-ui/README.md
  client-ui/babel.config.js
  client-ui/package-lock.json
  client-ui/package.json
  client-ui/pom.xml
  client-ui/public/favicon.ico
  client-ui/public/index.html
  client-ui/src/App.vue
  client-ui/src/assets/logo.png
  client-ui/src/components/communal/Registration.vue
  client-ui/src/components/communal/property/CitizenProperty.vue
  client-ui/src/components/communal/property/CitizenPropertyItem.vue
  client-ui/src/components/communal/property/Property.vue
  client-ui/src/components/main/MainPage.vue
  client-ui/src/components/tax/Tax.vue
  client-ui/src/components/tax/TaxItem.vue
  client-ui/src/main.js
  client-ui/src/models/bank/payment-payload.js
  client-ui/src/models/bank/payment-request.js
  client-ui/src/models/bank/transaction.js
  client-ui/src/models/communal/property-tax-value.js
  client-ui/src/models/communal/property-tax.js
  client-ui/src/models/communal/property.js
  client-ui/src/models/communal/registration.js
  client-ui/src/models/communal/requests/creation-property.js
  client-ui/src/models/communal/utilities-payload.js
  client-ui/src/models/communal/utilities-price-list.js
  client-ui/src/models/communal/utility-bill.js
  client-ui/src/models/passport/citizen.js
  client-ui/src/models/passport/domestic.js
  client-ui/src/models/passport/international.js
  client-ui/src/models/tax/tax.js
  client-ui/src/router/router.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/services/communal/property-service.js
  client-ui/src/services/tax/tax-service.js
  client-ui/src/store/actions/actions.js
  client-ui/src/store/communal/property/property-module.js
  client-ui/src/store/getters/getters.js
  client-ui/src/store/index.js
  client-ui/src/store/mutations/mutations.js
  pom.xml
Labels: build, build_failed, documentation, html, project task, vue
