Repository kostua16/UNC_2020_MS_TLT, pull requests merged in 2021-05, with the labels that each got.

#310 WIP fix docs in passport and communal services
  services/bank/src/docs/asciidoc/bank.adoc
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/GetInfoTest.java
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/PayTest.java
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/RequestPaymentTest.java
  services/communal/src/docs/asciidoc/communal.adoc
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/payloads/CreationUtilitiesPriceList.java
  services/communal/src/test/java/nc/unc/cs/services/communal/controllers/mock/price/bill/correct/AddUtilityBillPriceListTest.java
  services/communal/src/test/java/nc/unc/cs/services/communal/controllers/mock/property/correct/AddPropertyWebTest.java
  services/communal/src/test/java/nc/unc/cs/services/communal/controllers/mock/registration/correct/AddRegistrationWebTest.java
  services/passport/docs/asciidoc/passport.adoc
  services/passport/src/test/java/nc/unc/cs/services/passport/controller/RegistrDomesticTest.java
  services/passport/src/test/java/nc/unc/cs/services/passport/controller/UpdateDomesticTest.java
Labels: build_failed, java, project task

#334 fix bugs
  .run/GibddApp.run.xml
  client-ui/.env.production
  client-ui/src/components/auth/Login.vue
  client-ui/src/components/auth/SignUp.vue
  client-ui/src/components/bank/Transactions.vue
  client-ui/src/components/communal/bill/UtilityBills.vue
  client-ui/src/components/communal/property/CreationProperty.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValue.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValueForm.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValueItem.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceList.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceListForm.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceListItem.vue
  client-ui/src/components/tax/Tax.vue
  client-ui/src/services/auth/auth-service.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/services/communal/property-tax-service.js
  client-ui/src/services/communal/utility-bill-service.js
  client-ui/src/services/tax/tax-service.js
  client-ui/src/store/actions/actions.js
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/ExceptionController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/PropertyTaxController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/UtilityBillController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/entities/UtilityBill.java
  services/communal/src/main/java/nc/unc/cs/services/communal/exceptions/UtilityBillPaymentException.java
  services/communal/src/main/java/nc/unc/cs/services/communal/repositories/UtilityBillRepository.java
  services/communal/src/main/java/nc/unc/cs/services/communal/services/CommunalService.java
  services/passport/src/main/java/nc/unc/cs/services/passport/controller/PassportController.java
Labels: approved, build_passed, java, vue

#344 Fix docs
  client-ui/src/components/bank/TransactionItem.vue
  client-ui/src/components/communal/Registration.vue
  client-ui/src/components/communal/bill/UtilityBills.vue
  client-ui/src/components/communal/property/CitizenProperty.vue
  client-ui/src/components/communal/property/CreationProperty.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValueForm.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceListForm.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceListItem.vue
  client-ui/src/components/communal/property/tax/CitizenPropertyTaxList.vue
  client-ui/src/components/passport/DomesticCard.vue
  client-ui/src/models/bank/transaction.js
  client-ui/src/models/list/region-list.js
  client-ui/src/models/passport/citizen.js
  client-ui/src/models/passport/domestic.js
  client-ui/src/router/router.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/store/actions/actions.js
  client-ui/src/store/getters/getters.js
  client-ui/src/store/index.js
  client-ui/src/store/mutations/mutations.js
  services/bank/src/docs/asciidoc/bank.adoc
  services/bank/src/main/java/nc/unc/cs/services/bank/entities/Transaction.java
  services/bank/src/main/java/nc/unc/cs/services/bank/services/BankService.java
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/PayTest.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/PassportService.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/UpdateRegistrationIdDto.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/RegistrationController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/repositories/PropertyTaxRepository.java
  services/communal/src/main/java/nc/unc/cs/services/communal/repositories/UtilityBillRepository.java
  services/communal/src/main/java/nc/unc/cs/services/communal/services/BackgroundTaskService.java
  services/communal/src/main/java/nc/unc/cs/services/communal/services/RegistrationService.java
  services/communal/src/main/resources/application.yml
  services/communal/src/test/java/nc/unc/cs/services/communal/services/integrations/background/BackgroundTaskServiceTest.java
  services/communal/src/test/java/nc/unc/cs/services/communal/services/integrations/registration/AddPropertyTest.java
  services/passport/src/docs/asciidoc/passport.adoc
  services/passport/src/main/java/nc/unc/cs/services/passport/controller/ExceptionController.java
  services/passport/src/main/java/nc/unc/cs/services/passport/controller/PassportController.java
  services/passport/src/main/java/nc/unc/cs/services/passport/controller/dto/DomesticDto.java
  services/passport/src/main/java/nc/unc/cs/services/passport/exceptions/DomesticPassportNotFoundException.java
  services/passport/src/main/java/nc/unc/cs/services/passport/model/Citizen.java
  services/passport/src/main/java/nc/unc/cs/services/passport/model/Domestic.java
  services/passport/src/main/java/nc/unc/cs/services/passport/service/PassportTable.java
  services/passport/src/test/java/nc/unc/cs/services/passport/controller/RegistrDomesticTest.java
  services/passport/src/test/java/nc/unc/cs/services/passport/controller/UpdateDomesticTest.java
  services/passport/src/test/java/nc/unc/cs/services/passport/service/PassportRegistrationTest.java
  services/tax/src/docs/asciidoc/tax.adoc
Labels: approved, build_passed, java, props, vue
