Repository kostua16/UNC_2020_MS_TLT, pull requests merged in 2021-04, with the labels that each got.

#259 Страницы регистрации, авторизации + рутинг
  .run/DiscoveryApplication.run.xml
  client-ui/src/App.vue
  client-ui/src/components/auth/Login.vue
  client-ui/src/components/auth/SignUp.vue
  client-ui/src/components/communal/Registration.vue
  client-ui/src/components/communal/property/CitizenProperty.vue
  client-ui/src/components/communal/property/Property.vue
  client-ui/src/components/main/Profile.vue
  client-ui/src/models/auth/registration-data.js
  client-ui/src/models/auth/user.js
  client-ui/src/router/router.js
  client-ui/src/services/auth/auth-service.js
  client-ui/src/services/auth/parse-local-storage.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/services/communal/property-service.js
  client-ui/src/services/tax/tax-service.js
  client-ui/src/store/actions/actions.js
  client-ui/src/store/auth.module.js
  client-ui/src/store/getters/getters.js
  client-ui/src/store/index.js
  services/account/src/main/java/nc/unc/cs/services/account/controllers/AuthController.java
  services/account/src/main/java/nc/unc/cs/services/account/services/AuthService.java
Labels: approved, build_passed, java, project task, vue

#166 WIP добавление документации
  documentation.md
  img_4.png
  services/communal/src/docs/asciidoc/communal.adoc
  services/communal/src/main/java/nc/unc/cs/services/communal/services/RegistrationService.java
  services/communal/src/test/java/nc/unc/cs/services/communal/controllers/mock/price/bill/correct/AddUtilityBillPriceListTest.java
  services/communal/src/test/java/nc/unc/cs/services/communal/controllers/mock/property/correct/AddPropertyWebTest.java
  services/communal/src/test/java/nc/unc/cs/services/communal/controllers/mock/registration/correct/AddRegistrationWebTest.java
  services/gibdd/src/docs/asciidoc/gibdd.adoc
  services/passport/docs/asciidoc/passport.adoc
  services/passport/src/main/java/nc/unc/cs/services/passport/service/PassportTable.java
  services/src/docs/asciidoc/index.adoc
Labels: approved, build_passed, documentation, java

#254 Sign-in/-up
  .run/DiscoveryApplication.run.xml
  client-ui/package-lock.json
  client-ui/package.json
  client-ui/pom.xml
  client-ui/src/App.vue
  client-ui/src/components/auth/Login.vue
  client-ui/src/components/auth/SignUp.vue
  client-ui/src/components/communal/Registration.vue
  client-ui/src/components/communal/property/CitizenProperty.vue
  client-ui/src/components/communal/property/CitizenPropertyItem.vue
  client-ui/src/components/communal/property/Property.vue
  client-ui/src/components/communal/property/admin/UserPropertyItem.vue
  client-ui/src/components/communal/property/admin/UsersProperties.vue
  client-ui/src/components/communal/property/popup/UtilitiesPopup.vue
  client-ui/src/components/main/Profile.vue
  client-ui/src/components/main/popup/PaymentPopup.vue
  client-ui/src/models/auth/registration-data.js
  client-ui/src/models/auth/user.js
  client-ui/src/models/communal/requests/utilities-payload.js
  client-ui/src/router/router.js
  client-ui/src/services/auth/auth-service.js
  client-ui/src/services/auth/parse-local-storage.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/services/communal/property-service.js
  client-ui/src/services/communal/property-tax-service.js
  client-ui/src/services/communal/utility-bill-service.js
  client-ui/src/services/tax/tax-service.js
  client-ui/src/store/actions/actions.js
  client-ui/src/store/auth.module.js
  client-ui/src/store/getters/getters.js
  client-ui/src/store/index.js
  client-ui/src/store/mutations/mutations.js
  pom.xml
  services/account/pom.xml
  services/account/src/main/java/nc/unc/cs/services/account/AccountApplication.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/AuthController.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/ExceptionController.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/AuthResponse.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/LoginDto.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/RegistrationDto.java
  services/account/src/main/java/nc/unc/cs/services/account/entities/Account.java
  services/account/src/main/java/nc/unc/cs/services/account/entities/Roles.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/AccountNotFoundException.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/IncorrectPasswordException.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/RegistrationException.java
  services/account/src/main/java/nc/unc/cs/services/account/repositories/AccountRepository.java
  services/account/src/main/java/nc/unc/cs/services/account/services/AuthService.java
  services/account/src/main/resources/application.yml
  services/account/src/main/resources/bootstrap.yml
  services/account/src/test/java/nc/unc/cs/services/account/controllers/LoginWebTest.java
  services/account/src/test/java/nc/unc/cs/services/account/controllers/RegistrationWebTest.java
  services/account/src/test/java/nc/unc/cs/services/account/services/ServiceTest.java
  services/account/src/test/resources/bootstrap.yml
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/Citizen.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/Domestic.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/PassportService.java
  services/common/src/main/java/nc/unc/cs/services/common/configurations/SecurityConfig.java
  services/communal/src/main/java/nc/unc/cs/services/communal/controllers/PropertyController.java
  services/communal/src/main/java/nc/unc/cs/services/communal/services/RegistrationService.java
  services/pom.xml
Labels: approved, build, build_passed, java, project task, props, vue

#249 Псевдозащита
  services/account/pom.xml
  services/account/src/main/java/nc/unc/cs/services/account/AccountApplication.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/AuthController.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/ExceptionController.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/LoginDto.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/RegistrationDto.java
  services/account/src/main/java/nc/unc/cs/services/account/entities/Account.java
  services/account/src/main/java/nc/unc/cs/services/account/entities/Roles.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/AccountNotFoundException.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/IncorrectPasswordException.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/RegistrationException.java
  services/account/src/main/java/nc/unc/cs/services/account/repositories/AccountRepository.java
  services/account/src/main/java/nc/unc/cs/services/account/services/AuthService.java
  services/account/src/main/resources/application.yml
  services/account/src/main/resources/bootstrap.yml
  services/account/src/test/java/nc/unc/cs/services/account/controllers/LoginWebTest.java
  services/account/src/test/java/nc/unc/cs/services/account/controllers/RegistrationWebTest.java
  services/account/src/test/java/nc/unc/cs/services/account/services/ServiceTest.java
  services/account/src/test/resources/bootstrap.yml
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/Citizen.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/Domestic.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/PassportService.java
  services/common/src/main/java/nc/unc/cs/services/common/configurations/SecurityConfig.java
  services/pom.xml
Labels: build, build_passed, java, project task, props

#264 Utilities price list + парочка тестов для банка
  client-ui/src/App.vue
  client-ui/src/assets/images/bank.png
  client-ui/src/assets/images/international_.png
  client-ui/src/assets/images/payment_history.png
  client-ui/src/assets/images/propert_tax.png
  client-ui/src/assets/images/tax.png
  client-ui/src/assets/images/utility.png
  client-ui/src/components/auth/Login.vue
  client-ui/src/components/auth/SignUp.vue
  client-ui/src/components/bank/TransactionItem.vue
  client-ui/src/components/bank/Transactions.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValue.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValueForm.vue
  client-ui/src/components/communal/property/admin/price/tax/PropertyTaxValueItem.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceList.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceListForm.vue
  client-ui/src/components/communal/property/admin/price/utility/UtilitiesPriceListItem.vue
  client-ui/src/components/main/MainPage.vue
  client-ui/src/router/router.js
  client-ui/src/services/auth/auth-service.js
  client-ui/src/services/auth/parse-local-storage.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/services/communal/property-service.js
  client-ui/src/services/tax/tax-service.js
  client-ui/src/store/actions/actions.js
  client-ui/src/store/getters/getters.js
  client-ui/src/store/index.js
  client-ui/src/store/mutations/mutations.js
  services/account/src/main/java/nc/unc/cs/services/account/AccountApplication.java
  services/account/src/main/java/nc/unc/cs/services/account/config/AuthConfig.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/AuthController.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/RegistrationDto.java
  services/account/src/main/java/nc/unc/cs/services/account/exceptions/IncorrectPasswordException.java
  services/account/src/main/java/nc/unc/cs/services/account/services/AuthService.java
  services/account/src/test/java/nc/unc/cs/services/account/services/ServiceTest.java
  services/bank/src/docs/asciidoc/bank.adoc
  services/bank/src/main/java/nc/unc/cs/services/bank/controllers/BankController.java
  services/bank/src/main/java/nc/unc/cs/services/bank/controllers/dto/PeriodTransactions.java
  services/bank/src/main/java/nc/unc/cs/services/bank/repositories/TransactionRepository.java
  services/bank/src/main/java/nc/unc/cs/services/bank/services/BankService.java
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/GetInfoTest.java
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/PayTest.java
  services/bank/src/test/java/nc/unc/cs/services/bank/controllers/RequestPaymentTest.java
  services/bank/src/test/resources/bootstrap.yml
  services/communal/src/docs/asciidoc/communal.adoc
  services/gibdd/src/docs/asciidoc/gibdd.adoc
  services/passport/docs/asciidoc/passport.adoc
  services/src/docs/asciidoc/index.adoc
Labels: approved, build_passed, java, project task, props, vue

#284 Валидация для страниц: регистрации, логина, недвижимости
  client-ui/package-lock.json
  client-ui/package.json
  client-ui/pom.xml
  client-ui/src/App.vue
  client-ui/src/assets/images/empty_card.png
  client-ui/src/components/auth/Login.vue
  client-ui/src/components/auth/SignUp.vue
  client-ui/src/components/communal/Registration.vue
  client-ui/src/components/communal/property/CitizenProperty.vue
  client-ui/src/components/communal/property/CreationProperty.vue
  client-ui/src/components/communal/property/Property.vue
  client-ui/src/components/communal/property/popup/UtilitiesPopup.vue
  client-ui/src/components/main/Profile.vue
  client-ui/src/components/main/popup/PaymentPopup.vue
  client-ui/src/components/passport/DomesticCard.vue
  client-ui/src/components/passport/DomesticRegistration.vue
  client-ui/src/main.js
  client-ui/src/models/auth/registration-data.js
  client-ui/src/models/communal/requests/creation-property.js
  client-ui/src/router/router.js
  client-ui/src/services/auth/auth-service.js
  client-ui/src/services/communal/property-service.js
  client-ui/src/store/actions/actions.js
  client-ui/src/store/communal/property/property-module.js
  client-ui/src/store/getters/getters.js
  client-ui/src/store/index.js
  client-ui/src/store/mutations/mutations.js
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/AuthResponse.java
  services/account/src/main/java/nc/unc/cs/services/account/controllers/dto/RegistrationDto.java
  services/account/src/main/java/nc/unc/cs/services/account/entities/Account.java
  services/account/src/main/java/nc/unc/cs/services/account/services/AuthService.java
  services/account/src/test/java/nc/unc/cs/services/account/controllers/RegistrationWebTest.java
  services/account/src/test/java/nc/unc/cs/services/account/services/ServiceTest.java
  services/bank/src/main/java/nc/unc/cs/services/bank/controllers/BankController.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/Citizen.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/Domestic.java
  services/common/src/main/java/nc/unc/cs/services/common/clients/passport/PassportService.java
  services/passport/src/main/java/nc/unc/cs/services/passport/controller/PassportController.java
  services/passport/src/main/java/nc/unc/cs/services/passport/model/Citizen.java
  services/passport/src/main/java/nc/unc/cs/services/passport/model/Domestic.java
  services/passport/src/main/java/nc/unc/cs/services/passport/repository/DomesticRepository.java
  services/passport/src/main/java/nc/unc/cs/services/passport/service/PassportTable.java
Labels: approved, build, build_passed, java, project task, vue

#286 background task
  services/communal/src/main/java/nc/unc/cs/services/communal/CommunalApplication.java
  services/communal/src/main/java/nc/unc/cs/services/communal/entities/Property.java
  services/communal/src/main/java/nc/unc/cs/services/communal/exceptions/PropertyNotFoundException.java
  services/communal/src/main/java/nc/unc/cs/services/communal/repositories/PropertyRepository.java
  services/communal/src/main/java/nc/unc/cs/services/communal/services/BackgroundTaskService.java
Labels: approved, build_passed, java, project task

#297 backgroud task
  services/communal/src/main/java/nc/unc/cs/services/communal/services/BackgroundTaskService.java
  services/communal/src/main/resources/application.yml
  services/communal/src/test/java/nc/unc/cs/services/communal/services/integrations/background/BackgroundTaskServiceTest.java
Labels: approved, build_passed, java, project task, props

#289 Настройка фронтенд-сервара для деплоя
  client-ui/.env.production
  client-ui/package-lock.json
  client-ui/package.json
  client-ui/server.js
  client-ui/src/components/auth/SignUp.vue
  client-ui/src/components/communal/property/CreationProperty.vue
  client-ui/src/components/passport/DomesticRegistration.vue
  client-ui/src/services/auth/auth-service.js
  client-ui/src/services/communal/communal-service.js
  client-ui/src/services/communal/property-tax-service.js
  client-ui/src/services/communal/utility-bill-service.js
  client-ui/src/services/tax/tax-service.js
  client-ui/src/store/actions/actions.js
Labels: approved, build_passed, project task, vue
